* {
    box-sizing: border-box;
    background-color: rgb(194, 194, 194);
}
.container {
    display: flex; /* Use flexbox for layout */
    padding: 10px;
    gap: 20px; /* Add some spacing between tools and sketchbook */
    align-items: flex-start; /* Align items at the top */
}
.sketchbook {
    border: solid;
    border-color: black;
    display: inline-block;
    box-shadow: 10px 10px 10px rgb(155, 155, 155);
}
.sketch_box_row {
    display: flex;
    flex-direction: row;
}

.sketch_box_element {
    width:12px;
    height:12px;
    border: None;
    background-color:rgb(255, 255, 255);
}

.sketch_box_element.hovered {
    opacity: 0;
    background-color: rgb(0, 0, 0);
}

#refreshButton {
    width: 120px;
    height: 60x;
    border: solid;
    border-radius: 9px;
    background-color: rgb(68, 68, 68);
    border-color:rgb(187, 187, 187);
    color: rgb(187, 187, 187);
}

#refreshButton:hover {
    background-color: rgb(41, 41, 41);
    border-color: rgb(243, 243, 243);;
    color: rgb(187, 187, 187);
    font-weight:bold;
}

#colorChoice {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 100px;
    height: 100px;
    border: none;
    cursor: pointer;
}

#colorChoice::-webkit-color-swatch {
    border-radius: 20%;
    border: 1px solid #2c2c2c;
  }
  #colorChoice::-moz-color-swatch {
    border-radius: 20%;
    border: 1px solid #2c2c2c;
  }

  .tools {
    display: inline-block;
  }

  .toolColumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
  }
